/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

.stock-details-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2,
h3 {
    color: #111;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Price and Score Section */
.price-and-score {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.price-details,
.score-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 10px);
}

.price-details,
.score-section {
    min-width: unset;
}

.price-details p {
    margin: 5px 0;
}

.positive-change {
    color: #4caf50;
}

.negative-change {
    color: #f44336;
}

/* Score Charts */
.score-charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.score-chart {
    width: 150px;
    height: 150px;
}

/* Chart and Company Overview */
.chart-and-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.chart-container {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
}

.company-overview {
    flex: 1;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.company-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* News Section */
.news-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-section ul {
    list-style: none;
    padding: 0;
}

.news-section li {
    margin-bottom: 20px;
}

.news-section li p {
    margin: 5px 0;
}

/* Financial Performance */
.financial-performance {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.financial-performance th {
    color: #000;
    /* Set text color to black */
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Insider Transactions */
.insider-transactions {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.insider-transactions .table-container {
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .price-and-score {
        flex-direction: column;
    }

    .price-details,
    .score-section {
        width: 100%;
    }

    .chart-and-overview {
        flex-direction: column;
    }

    .chart-container,
    .company-overview {
        min-width: 100%;
    }

    .score-charts {
        flex-direction: column;
        align-items: center;
    }

    .score-chart {
        margin-bottom: 20px;
    }
}